body {
    font-family: 'Montserrat', sans-serif;
}

/* main styles */
.main {
    display: flex;
    flex-direction: row-reverse;
    background-color: #F5F7FA;
    width: 1200px;
    margin: 0 auto;
}

.main-content {
    background-color: #FFFFFF;
}

 /* sidebar styles */
.sidebar {
    background-color: #1E2939;
}